html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

td {
    font-size: 15px;
    background-color:#00A2E5;
    border: 1px solid black;
}
th {
    font-size: 17px;
    border: 1px solid black
}

.overlay {
    display: flex;
    width: 90%;
    max-width: 1200px;
    height: 80vh;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

html {
  position: relative;
  min-height: 100%;
}
td{
    text-decoration-color:purple;
}

body {
    margin-bottom: 60px;
    
    background-image: url("../images/bacakgroundimage.jpg");
    background-repeat: no-repeat;
    background-size: 100%100%;
    opacity: 100%;
}
mark {
    background-color: #fffdd0; /* Bright yellow */
    color: black;
}

/*header {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);*/ /* Semi-transparent black */
    /*color: white;
    padding: 10px;
    z-index: 1000;
}*/
